<div class="flex w-full h-full poppins-font">

    <div class="w-[100%] h-[100%]">
      <!-- nav bar -->
      <div class="bg-custom-light-teal w-full h-[10%] flex justify-between items-center p-4">
        <img
          src="/assets/images/common/logo.svg"
          alt="MediDoc"
          class="w-10 h-auto"
        />
        <div class="w-auto flex items-center space-x-4">
          <a
            class="flex items-center justify-center cursor-pointer hover:opacity-90"
            routerLink="/landingpage"
          >
            <img src="/assets/images/common/logout.svg" alt="Logout" />
          </a>
          <div class="text-center">
            <div class="font-semibold text-sm md:text-md">{{ data.user.nom || 'Utilisateur' }}</div>
            <div class="font-medium text-xs md:text-sm">Administratif</div>
          </div>
        </div>
      </div>
  
      <!-- Form -->
      <div class="bg-[#F5F6FA] w-full h-[90%] flex justify-center">
        <div class="w-[90%] md:w-[72%] h-full">
          <div
            class="w-full h-[10%] flex justify-center md:justify-start items-center text-xl lg:text-2xl font-bold"
          >
            Créer un dossier patient
          </div>
          <div class="w-full bg-white border border-[#B9B9B9] rounded-2xl md:p-4">
            <!-- Stepper -->
            <mat-stepper [linear]="isLinear" #stepper>
              <!-- Step 1 -->
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Informations de base</ng-template>
                  <div class="mt-5 w-full flex justify-center items-center">
                    <div class="w-[90%] flex flex-wrap md:flex-nowrap gap-4">
                      <mat-form-field class="w-full md:w-1/2">
                        <mat-label>Nom</mat-label>
                        <input
                          matInput
                          placeholder="Entrez le nom du patient"
                          formControlName="patient_nom"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="w-full md:w-1/2">
                        <mat-label>Prénom</mat-label>
                        <input
                          matInput
                          placeholder="Entrez le prénom du patient"
                          formControlName="prenom"
                          required
                        />
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="mt-5 w-full flex justify-center items-center">
                    <div class="w-[90%] flex flex-wrap md:flex-nowrap gap-4">
                      <mat-form-field class="w-full md:w-1/2">
                        <mat-label>Numéro de sécurité sociale</mat-label>
                        <input
                          type="number"
                          matInput
                          placeholder="Entrez le NSS du patient"
                          formControlName="nss"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="w-full md:w-1/2">
                        <mat-label>Médecin traitant</mat-label>
                        <input
                          matInput
                          placeholder="Entrez le nom du médecin traitant"
                          formControlName="medecin_traitant"
                          required
                        />
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="mt-5 w-full flex justify-center items-center">
                    <div class="w-[90%] flex flex-wrap md:flex-nowrap gap-4">
                      <mat-form-field class="w-full md:w-1/2">
                        <mat-label>Date de naissance</mat-label>
                        <input
                          matInput
                          type="date"
                          placeholder="Entrez la date de naissance"
                          formControlName="date_naissance"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="w-full md:w-1/2">
                        <mat-label>Sexe</mat-label>
                        <mat-select formControlName="sexe" required>
                          <mat-option value="Homme">Homme</mat-option>
                          <mat-option value="Femme">Femme</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="mt-8 w-full flex justify-center">
                    <div class="w-full md:w-4/5 flex flex-wrap justify-between gap-4">
                      <button
                        disabled
                        class="appearance-none text-[#0B8FAC] opacity-35 border-[#0B8FAC] border-2 bg-white w-full md:w-[30%] py-3 rounded-2xl"
                        matStepperNext
                      >
                        Précédent
                      </button>
                      <button
                        class="appearance-none text-white bg-[#0B8FAC] w-full md:w-[30%] py-3 rounded-2xl"
                        matStepperNext
                      >
                        Suivant
                      </button>
                    </div>
                  </div>
                </form>
              </mat-step>
  
              <!-- Step 2 -->
              <mat-step [stepControl]="secondFormGroup" label="Informations de contact">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Informations de contact</ng-template>
                  <div class="mt-5 w-full flex justify-center items-center">
                    <div class="w-[90%] flex flex-wrap md:flex-nowrap gap-4">
                      <mat-form-field class="w-full md:w-1/2">
                        <mat-label>Numéro téléphone</mat-label>
                        <input
                          type="number"
                          matInput
                          placeholder="Entrez le numéro téléphone"
                          formControlName="telephone"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="w-full md:w-1/2">
                        <mat-label>Personne à contacter</mat-label>
                        <input
                          matInput
                          placeholder="Entrez la personne à contacter"
                          formControlName="personne_contact"
                          required
                        />
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="mt-5 w-full flex justify-center items-center">
                    <div class="w-[90%] flex flex-wrap md:flex-nowrap gap-4">
                      <mat-form-field class="w-full md:w-1/2">
                        <mat-label>Adresse</mat-label>
                        <input
                          matInput
                          placeholder="Entrez l’adresse complète"
                          formControlName="adresse"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="w-full md:w-1/2">
                        <mat-label>Mutuelle</mat-label>
                        <input
                          matInput
                          placeholder="Entrez la mutuelle du patient"
                          formControlName="mutuelle"
                          required
                        />
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="mt-8 w-full flex justify-center">
                    <div class="w-full md:w-4/5 flex flex-wrap justify-between gap-4">
                      <button
                        class="appearance-none text-[#0B8FAC] border-[#0B8FAC] border-2 bg-white w-full md:w-[30%] py-3 rounded-2xl"
                        matStepperPrevious
                      >
                        Précédent
                      </button>
                      <button
                        class="appearance-none text-white bg-[#0B8FAC] w-full md:w-[30%] py-3 rounded-2xl"
                        matStepperNext
                      >
                        Suivant
                      </button>
                    </div>
                  </div>
                </form>
              </mat-step>
  
              <!-- Step 3 -->
              <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                  <ng-template matStepLabel>Informations de connexion</ng-template>
                  <div class="mt-5 w-full flex justify-center items-center">
                    <div class="w-[90%] flex flex-wrap gap-4">
                      <mat-form-field class="w-full">
                        <mat-label>Email</mat-label>
                        <input
                          type="email"
                          matInput
                          placeholder="Entrez l’email du patient"
                          formControlName="patient_email"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="w-full">
                        <mat-label>Mot de passe</mat-label>
                        <input
                          type="password"
                          matInput
                          placeholder="Entrez le mot de passe du patient"
                          formControlName="patient_password"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="w-full">
                        <mat-label>Confirmez le mot de passe</mat-label>
                        <input
                          type="password"
                          matInput
                          placeholder="Confirmez le mot de passe du patient"
                          formControlName="confirmPassword"
                          required
                        />
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="mt-8 w-full flex justify-center">
                    <div class="w-full md:w-4/5 flex flex-wrap justify-between gap-4">
                      <button
                        class="appearance-none text-[#0B8FAC] border-[#0B8FAC] border-2 bg-white w-full md:w-[30%] py-3 rounded-2xl"
                        matStepperPrevious
                      >
                        Précédent
                      </button>
                      <button
                        class="appearance-none text-white bg-[#0B8FAC] w-full md:w-[30%] py-3 rounded-2xl"
                        (click)="submitForm()"
                      >
                        Créer dossier
                      </button>
                    </div>
                  </div>
                </form>
              </mat-step>
            </mat-stepper>
            <!-- Stepper -->
          </div>
        </div>
      </div>
    </div>
  </div>  