.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  ::ng-deep .mat-step-icon {
    background: #0B8FAC !important;
  }
  
  ::ng-deep .mat-step-header {
    display: flex;
    flex-direction: column;
  }
  
  .header-label-text-color {
    color: #0B8FAC;
  }
  
  ::ng-deep .mat-stepper-horizontal-line {
    padding-bottom: 40px;
  }
  
  ::ng-deep .mat-horizontal-stepper-wrapper {
    background-color: white;
  }
  
  ::ng-deep .mat-mdc-form-field {
    border: none;
    outline: none;
    background-color: white !important;
  }
  
  @media (max-width: 768px) {
    ::ng-deep .mat-step-label {
      display: none !important;
    }
  
    .mat-stepper-horizontal {
      padding-top: 16px;
    }
  }