<div class="w-full mx-auto px-4 md:px-20 py-16">
  <div class="flex justify-between items-center">
    <h1 class="text-4xl font-nunito font-semibold mb-4">Dossier Patient</h1>
    <img
      src="/assets/images/common/qr.svg"
      class="size-8 cursor-pointer"
    />
  </div>
  <div class="flex flex-col w-full gap-4">
    <InfoPersonal></InfoPersonal>
    <HistoriqueDpi></HistoriqueDpi>
    <OrdannanceDpi></OrdannanceDpi>
    <ResultatExamDpi></ResultatExamDpi>
    <AdministrationDoc></AdministrationDoc>
  </div>
</div>
