<div class="flex flex-col w-full h-full poppins-font">
  <!-- nav bar -->
  <div
    class="bg-custom-light-teal w-full h-[10%] flex justify-between items-center p-4"
  >
    <img
      src="/assets/images/common/logo.svg"
      alt="MediDoc"
      class="w-10 h-auto"
    />
    <div class="w-auto flex items-center space-x-4">
      <a
        class="flex items-center justify-center cursor-pointer hover:opacity-90"
        routerLink="/landingpage"
      >
        <img src="/assets/images/common/logout.svg" alt="Logout" />
      </a>
      <div class="text-center">
        <div class="font-semibold text-sm md:text-md">
          {{ data.user.nom }}
        </div>
        <div class="font-medium text-xs md:text-sm">
          {{ data.user.specialite }}
        </div>
      </div>
    </div>
  </div>

  <!-- main content -->
  <div class="relative flex-grow bg-[#F5F6FA]">
    <rechercher-patient
      [data]="data"
    ></rechercher-patient>
  </div>
</div>
