<div class=" bg-[#F5F6FA] w-full h-[90%] flex justify-center">
    <div class="w-[80%] md:w-[72%] h-full">
        <div class="w-full h-[10%] flex justify-center md:justify-start items-center text-xl lg:text-2xl font-bold">
            Dossier Pateint
        </div>
        <div class=" bg-[white] border-[#B9B9B9] border-2 rounded-[14px]  w-full lg:h-[46%] flex flex-col justify-center items-center ">
            <div class="w-[94%]  h-[14%] flex border-b-2 border-[#D2EBE7]">
                <div class="w-[20%] font-bold text-lg h-full flex justify-start items-center">
                   Bouab&nbsp;Sami
                </div>
                <div class="w-[50%] font-bold text-lg h-full flex justify-end items-center">
                </div>
                <div class="w-[30%] font-bold text-[#5F5F60] text-xs  md:text-sm h-full flex justify-end items-center">
                    Numéro&nbsp;de&nbsp;Sécurité&nbsp;Sociale: 123-45-6789
                </div>
            </div>
            <div class="w-[94%]  h-[86%]  flex flex-col-reverse items-center lg:flex-row xs:flex-col md:flex-col-reverse sm:flex-col-reverse lg:justify-between sm:items-center xs:justify-center xs:items-center md:justify-center  md:items-center  justify-between  ">
                <div class="w-[60%] xs:w-[60%]  md:w-[60%] lg:w-[30%] flex flex-col">
                     <button routerLink="/administratif/creerdpi"   
                    class="   lg:ml-[2%] mt-[4%] bg-[white] border-[#0B8FAC] border-2 rounded-[14px]  text-white py-4  flex justify-center items-center">
                    <div class="text-base text-[#0B8FAC] ">Consulter&nbsp;Dossier&nbsp;Patient</div>
                <div class="">&nbsp;&nbsp;</div>
                    <img src="/assets/images/common/file.svg" alt="search" class=" h-auto w-auto cursor-pointer" />
                </button>
                <button routerLink="/administratif/creerdpi"
                    class="  xs:w-full md:w-auto lg:w-auto lg:ml-[2%] mt-[4%] bg-[white] border-[#0B8FAC] border-2 rounded-[14px] lg:px-10 py-4 text-white  flex justify-center items-center">
                    <div class="text-base text-[#0B8FAC] ">délivrer&nbsp;certificat&nbsp;médical</div>
                    <div class=" ">&nbsp;&nbsp;</div>
                    <img src="/assets/images/common/document.svg" alt="search" class=" h-auto w-auto cursor-pointer" />
                </button>
                
            </div>
            <div class=" w-[25%] h-full flex kustify center items-center"   >
                <img  src="/assets/images/common/QR_code.png" alt="search" class="h-auto w-auto cursor-pointer" />
            </div>
            </div>


        </div>


    </div>

</div>